.kalculator {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(186, 233, 217);
  padding: 20px;
  border: 1px solid black;
}

.kalculator .number button {
  width: 40px;
  height: 40px;
  margin: 0.6%;

  text-decoration: none;
  font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}
.name-button,
.gray:hover {
  color: rgb(196, 43, 43);
  border-bottom: 4px solid #a8a5a5;
  background: rgb(238, 235, 235);
}

.kalculator:active {
  border: none;
  bottom: -4px;
  margin-bottom: 22px;

  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.kalculator .number #buttonEqually,
#buttonBackspace {
  width: 90px;
}
.input label {
  display: block;
  height: 30px;
}
.input input {
  height: 30px;
}
.input .input-blok {
  display: inline-block;
  padding: 20px;
}
input[type="text"] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  box-shadow: 4px 0px 12px black inset;
}
