.kalculator {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(186, 233, 217);
  padding: 20px;
  border: 1px solid black;
}

.kalculator .number button {
  width: 40px;
  height: 40px;
  margin: 0.6%;
}
.input label {
  display: block;
  height: 30px;
}
.input input {
  height: 30px;
}
.input .input-blok {
  display: inline-block;
  padding: 20px;
}
